.rdtPicker{
    width: 320px;
    // overflow: hidden;
}

.rdtDays{
    width: 320px;
}

table{
    width: 1px!important;

    height: 10px!important;
    min-width: 320px !important;
}
thead{
    width: 1px!important
}

tbody{
    width: 1px!important
}


tr{
    width: 1px!important
}

td{
    width: 1px!important
}