.col-md-5{
    height: 50px ;
    .ms-n5 {
        margin-left: -40px ;
        // margin-top: 4px;
        border-radius: 50%;
        height: 34px;
      
    }
    .fa-search{
    }
    .boder{
    border-radius: 50%;
    border: none;
    margin-right: -20px;

}

}
table{
    width: 1540px !important;
}
