


.itemhover:hover{
  cursor: pointer;
  color: red;
  
}
.footer {
  margin-top: 400px!important;
}


.rdtPicker{
  width: 320px;
  /* // overflow: hidden; */
}

.rdtDays{
  width: 320px;
}

.rdtPicker table{
  width: 1px!important;

  height: 10px!important ;
  min-width: 320px!important  ;
}
.rdtPicker table thead{
  width: 1px!important 
}

.rdtPicker table tbody{
  width: 1px!important 
}


.rdtPicker table tr{
  width: 1px!important 
}

.rdtPicker table td{
  width: 1px 
}




.googlelogin1 button span {
  background-color:rgba(red, green, blue, 0)!important;
  border: none!important;
  position: relative;
  font-size: 15px;
  font-weight: bold!important;
  color:grey;
  left: "1000px"!important;
  box-shadow:none!important
}
.googlelogin1 button{
  box-shadow:none!important

}