.image-rotate{
    width: 30px;
    height: 30px;
    position: relative;
    animation: rotate 2s infinite linear;
    margin-left: -5px;
    margin-top: -6px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}